
<h2 style="margin-bottom:0;">총 찾은 책 갯수: <%= @books.count %> 권</h2>
<h6 style="color: gray; margin-top: 0;">현재는 100권까지만 지원합니다 </h6>
<hr>
<h4><'(책 제목)' 검색 결과></h4> <!-- 여기에 params로 어떤 검색을 했는지 써줄것 -->

<% @books.each do |book| %>
    
    <p>[<%= @i %>] <%= book.children.children.children.children[1].text %> /  
    <%= book.children.children.children.children[5].text %></p>
    <% @i= @i+1 %>
<% end %>